.FieldInfo {
  color: rgb(251, 174, 44);
  font-family: Bitter, Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}
.CommentBlock {
  background-color: #4275dc;
}
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn i {
  margin-right: 5px;
}
